{{ define "title" }}Kevin Tjahjadi | Developer{{ end }}

{{ define "content" }}
<div class="row">
	<div class="one_three">
        <h1>Simple Pages</h1>
	    <a href="/404">404</a>
    </div>
   	<div class="two_three">
        <h1>Column 2</h1>

        <p>Hello, and welcome to my APP!</p>
    </div>
    <div class="three_three">
        <h1>Column 3</h1>

        <p>Hello, and welcome to my APP!</p>
        <p>Hello, and welcome to my APP!</p>
        <p>Hello, and welcome to my APP!</p>
        <p>Hello, and welcome to my APP!</p>
        <p>Hello, and welcome to my APP!</p>
        <p>Hello, and welcome to my APP!</p>
        <p>Hello, and welcome to my APP!</p>
        <p>Hello, and welcome to my APP!</p>
        <p>Hello, and welcome to my APP!</p>
    </div>
</div>
{{ end }}
